{% extends 'base.html.twig' %}

{% block page_js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            let select = $('#{{ form.country.vars.id }}');
            $('input[type="checkbox"][data-country]').parent().hide();
            $('input[type="checkbox"][data-country="'+select.val()+'"]').parent().show();

            select.change(function () {
                $('input[type="checkbox"][data-country]').prop('checked',false).parent().hide();
                $('input[type="checkbox"][data-country="'+$(this).val()+'"]').parent().show();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">{% if user is defined %}{{ 'Edit %target_name%'|trans({'%target_name%': user }) }}{% else %}{{ 'Create User'|trans }}{% endif %}</h4>
        </div>
        {{ form_start(form) }}
        <div class="panel-body">
            {{ form_rest(form) }}
        </div>
        <div class="panel-footer clearfix">
            <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">{{ 'Edit / Save'|trans }}</button>
            <a href="{{ path('adminUserIndex') }}" class="pull-left btn btn-warning"><i class="fa fa-refresh"></i> {{ 'Cancel'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
