{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a data-toggle="collapse" href="#filters" class="btn btn-sm btn-icon btn-circle btn-warning" title="{{ 'Filters'|trans }}"><i class="fa fa-search"></i></a>
                <a data-toggle="modal" href="#addUserModal" class="btn btn-sm btn-icon btn-circle btn-primary" title="{{ 'Add User'|trans }}"><i class="fa fa-user-plus"></i></a>
            </div>
            <h4 class="panel-title">{{ 'Users'|trans }}</h4>
        </div>
        <div class="panel-body">
            <div class="collapse well filters clearfix" id="filters">
                {{ form_start(filterForm) }}
                {{ form_rest(filterForm) }}
                <button type="submit" class="pull-right btn btn-success"><i class="fa fa-search"></i> {{ 'Search'|trans }}</button>
                <button type="submit" class="pull-left btn btn-warning" name="{{ filterForm.vars.name }}[reset]"><i class="fa fa-refresh"></i> {{ 'Reset'|trans }}</button>
                {{ form_end(filterForm) }}
            </div>

            <div class="table-responsive">
                <table class="table m-b-0">
                    <tr>
                        <th>{{ knp_pagination_sortable(users, 'Name', 'u.name') }}</th>
                        <th>{{ 'Active?'|trans }}</th>
                        <th>{{ 'Role'|trans }}</th>
                        <th>{{ knp_pagination_sortable(users, 'Country', 'c.name') }}</th>
                        <th>{{ 'Hospitals'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}
                                <br/>{{ user.email }}
                                {% if user.phone %}<br/>tel: <a href="tel:{{ user.phone }}">{{ user.phone }}</a>{% endif %}
                                {% if user.address %}<br/>{{ user.address}}{% endif %}
                            </td>
                            <td>{% if user.active %}
                                    <i class="text-primary fa fa-check"></i>
                                {% else %}
                                    <i class="text-warning fa fa-times"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.roleLabel }}</td>
                            <td>{{ user.country }}</td>
                            <td>
                                <ul style="list-style: none;">
                                    {% for hospital in user.hospitals %}
                                        <li>{{ hospital }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('adminUserEdit', { userId: user.id }) }}">{{ 'Edit'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel-footer clearfix">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div id="addUserModal" role="dialog" class="modal fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div tabindex="-1" role="document" aria-labelledby="addUserModalHeader" aria-describedby="addUserModalBody" class="modal-content">
                <header id="addUserModalHeader" class="modal-header"><h5 class="modal-title">{{ 'Create User'|trans }}</h5>
                    <button type="button" aria-label="Close" class="close" data-dismiss="modal">×</button>
                </header>
                {{ form_start(createForm, { action: path('adminUserCreate') }) }}
                <div id="addUserModalBody" class="modal-body">
                    {{ form_rest(createForm) }}
                </div>
                <footer id="addUserModalFooter" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                </footer>
                {{ form_end(createForm) }}
            </div>
        </div>
    </div>
{% endblock %}
