{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">{{ 'Edit %target_name%'|trans({'%target_name%': region.name}) }}</h4>
        </div>
        {{ form_start(form) }}
        <div class="panel-body">
            {{ form_rest(form) }}
        </div>
        <div class="panel-footer clearfix">
            <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">{{ 'Edit / Save'|trans }}</button>
            <a href="{{ path('adminRegionIndex') }}" class="btn btn-sm btn-default">{{ 'Cancel'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
