{% import '@App/Report/Hospital/summary-blocks.html.twig' as globals %}
<table class="table m-b-0">
    {% if data.date is defined %}
        <thead>
        {% if data.date.from.month and data.date.from.year %}
            <tr><th>{{'From'|trans}}</th><td>{{ data.date.from.year }}</td><td>{{ data.date.from.month }}</td></tr>
        {% endif %}
        {% if data.date.to.month and data.date.to.year %}
            <tr><th>{{'To'|trans}}</th><td>{{ data.date.to.year }}</td><td>{{ data.date.to.month }}</td></tr>
        {% endif %}
        </thead>
    {% endif %}
    {% for countryCollection in results %}
        <tr>
            <td class="info" colspan="10">{{ countryCollection.country.name }}</td>
        </tr>
        {% if countryCollection.hasMeningitisCases %}
            {{ globals.meningitis(countryCollection) }}
        {% endif %}
        {% if countryCollection.hasPneumoniaCases %}
            {{ globals.pneumonia(countryCollection) }}
        {% endif %}
        {% if countryCollection.hasRotavirusCases %}
            {{ globals.rotavirus(countryCollection) }}
        {% endif %}
    {% endfor %}
</table>
