{% extends 'base.html.twig' %}
{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#{{ form.country.vars.id }}').change(function () {
                $('#{{ form.hospital.vars.id }} option').prop('disabled', true).hide();
                $('#{{ form.hospital.vars.id }} option[data-country="' + $(this).val() + '"]').prop('disabled', false).show();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Add Rotavirus</h4>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <fieldset>
                <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">Create</button>
                <button type="submit" class="btn btn-sm btn-default pull-right">Cancel</button>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

