{% extends 'base.html.twig' %}

{% form_theme form 'General/form_fields.html.twig' %}

{% block page_js %}
    <script type="text/javascript" src="{{ asset('js/case.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sumInputs(['#{{ form.withFormAndSample.under12.vars.id }}', '#{{ form.withFormAndSample.under23.vars.id }}', '#{{ form.withFormAndSample.under59.vars.id }}'], '#{{ form.withFormAndSample.total.vars.id }}', '#{{ form.withFormAndSample.totalOverride.vars.id }}');

            sumInputs(['#{{ form.positiveUnder12.vaccinated.vars.id }}', '#{{ form.positiveUnder23.vaccinated.vars.id }}', '#{{ form.positiveUnder59.vaccinated.vars.id }}'], '#{{ form.positiveTotal.vaccinated.vars.id }}', '#{{ form.positiveTotal.vaccinatedOverride.vars.id }}');
            sumInputs(['#{{ form.positiveUnder12.notVaccinated.vars.id }}', '#{{ form.positiveUnder23.notVaccinated.vars.id }}', '#{{ form.positiveUnder59.notVaccinated.vars.id }}'], '#{{ form.positiveTotal.notVaccinated.vars.id }}', '#{{ form.positiveTotal.notVaccinatedOverride.vars.id }}');
            sumInputs(['#{{ form.positiveUnder12.noInformation.vars.id }}', '#{{ form.positiveUnder23.noInformation.vars.id }}', '#{{ form.positiveUnder59.noInformation.vars.id }}'], '#{{ form.positiveTotal.noInformation.vars.id }}', '#{{ form.positiveTotal.noInformationOverride.vars.id }}');

            sumInputs(['#{{ form.deathsUnder12.vaccinated.vars.id }}', '#{{ form.deathsUnder23.vaccinated.vars.id }}', '#{{ form.deathsUnder59.vaccinated.vars.id }}'], '#{{ form.deathsTotal.vaccinated.vars.id }}', '#{{ form.deathsTotal.vaccinatedOverride.vars.id }}');
            sumInputs(['#{{ form.deathsUnder12.notVaccinated.vars.id }}', '#{{ form.deathsUnder23.notVaccinated.vars.id }}', '#{{ form.deathsUnder59.notVaccinated.vars.id }}'], '#{{ form.deathsTotal.notVaccinated.vars.id }}', '#{{ form.deathsTotal.notVaccinatedOverride.vars.id }}');
            sumInputs(['#{{ form.deathsUnder12.noInformation.vars.id }}', '#{{ form.deathsUnder23.noInformation.vars.id }}', '#{{ form.deathsUnder59.noInformation.vars.id }}'], '#{{ form.deathsTotal.noInformation.vars.id }}', '#{{ form.deathsTotal.noInformationOverride.vars.id }}');

        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">{{'Enter Details'|trans}}</h4>
        </div>

        <div class="panel-body">
            {% include 'General/base_disease_header.html.twig' %}

            {{ form_start(form) }}
            {{ form_row(form.under5) }}
            {{ form_row(form.under5With) }}
            {{ form_row(form.suspected) }}
            {{ form_row(form.withFormAndSample) }}

            <div class="row">
                <label class="col-md-12 col-form-label">{{'No. of stool samples positive for rotavirus with forms'|trans}}</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.positiveUnder12) }}
                    {{ form_widget(form.positiveUnder12) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.positiveUnder23) }}
                    {{ form_widget(form.positiveUnder23) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.positiveUnder59) }}
                    {{ form_widget(form.positiveUnder59) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.positiveTotal) }}
                </div>
            </div>

            <div class="row">
                <label class="col-md-12 col-form-label">{{'No. of deaths'|trans}}</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.deathsUnder12) }}
                    {{ form_widget(form.deathsUnder12) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.deathsUnder23) }}
                    {{ form_widget(form.deathsUnder23) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.deathsUnder59) }}
                    {{ form_widget(form.deathsUnder59) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.deathsTotal) }}
                </div>
            </div>

            {{ form_rest(form) }}
            <fieldset>
                {#<legend class="m-b-15">Legend</legend>#}
                <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">{{ 'Edit / Save'|trans }}</button>
                <a href="{{ path('rotavirusIndex') }}" class="btn btn-sm btn-default">{{ 'Cancel'|trans }}Cancel</a>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
