{% extends 'base_disease.html.twig' %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a data-toggle="collapse" href="#filters" class="btn btn-sm btn-icon btn-circle btn-warning" title="Filters"><i class="fa fa-search"></i></a>
                <a data-toggle="modal" href="#addCountryModal" class="btn btn-sm btn-icon btn-circle btn-primary" title="Add Country"><i class="fa fa-plus"></i></a>
            </div>
            <h4 class="panel-title">Add Meningitis</h4>
        </div>

        <div class="panel-body">
            {% if filterForm is defined %}
                <div class="collapse well filters clearfix" id="filters">
                    {{ form_start(filterForm) }}
                    {{ form_rest(filterForm) }}
                    <button type="submit" class="pull-right btn btn-success"><i class="fa fa-search"></i> Search</button>
                    <button type="submit" class="pull-left btn btn-warning" name="{{ filterForm.vars.name }}[reset]"><i class="fa fa-refresh"></i> Reset</button>
                    {{ form_end(filterForm) }}
                </div>
            {% endif %}

            {{ form_start(form) }}
            {{ form_rest(form) }}
            <fieldset>
                <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">Create</button>
                <button type="submit" class="btn btn-sm btn-default pull-right">Cancel</button>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

