{% extends 'base.html.twig' %}

{% form_theme form 'General/form_fields.html.twig' %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            {#<div class="panel-heading-btn">#}
            {#<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>#}
            {#<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>#}
            {#<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>#}
            {#<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>#}
            {#</div>#}
            <h4 class="panel-title">Enter Details</h4>
        </div>

        <div class="panel-body">
            {% include 'General/base_disease_header.html.twig' %}

            {{ form_start(form) }}
            {{ form_row(form.under5) }}
            {{ form_row(form.suspected) }}
            {{ form_row(form.suspectedWith) }}
            {{ form_row(form.probable) }}
            <div class="row">
                <label class="col-md-12 col-form-label required">No. of confirmed cases of meningitis</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.under12Confirmed) }}
                    {{ form_widget(form.under12Confirmed) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.under23Confirmed) }}
                    {{ form_widget(form.under23Confirmed) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.under59Confirmed) }}
                    {{ form_widget(form.under59Confirmed) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.totalConfirmed) }}
                    {{ form_widget(form.totalConfirmed) }}
                </div>
            </div>
            {{ form_row(form.numberOfDeaths) }}
            {{ form_rest(form) }}
            <fieldset>
                {#<legend class="m-b-15">Legend</legend>#}
                <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">{{ 'Edit'|trans }}</button>
                <a href="{{ path('meningitisIndex') }}" class="btn btn-sm btn-default">{{ 'Cancel'|trans }}</a>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
