{% extends 'base.html.twig' %}

{% form_theme form 'General/form_fields.html.twig' %}

{% block page_js %}
    <script type="text/javascript" src="{{ asset('js/case.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sumInputs(['#{{ form.probable.under12.vars.id }}', '#{{ form.probable.under23.vars.id }}', '#{{ form.probable.under59.vars.id }}'], '#{{ form.probable.total.vars.id }}', '#{{ form.probable.totalOverride.vars.id }}');
            sumInputs(['#{{ form.numberOfDeaths.under12.vars.id }}', '#{{ form.numberOfDeaths.under23.vars.id }}', '#{{ form.numberOfDeaths.under59.vars.id }}'], '#{{ form.numberOfDeaths.total.vars.id }}', '#{{ form.numberOfDeaths.totalOverride.vars.id }}');
            sumInputs(['#{{ form.under12Confirmed.hib.vars.id }}', '#{{ form.under23Confirmed.hib.vars.id }}', '#{{ form.under59Confirmed.hib.vars.id }}'], '#{{ form.totalConfirmed.hib.vars.id }}', '#{{ form.totalConfirmed.hibOverride.vars.id }}');
            sumInputs(['#{{ form.under12Confirmed.hi.vars.id }}', '#{{ form.under23Confirmed.hi.vars.id }}', '#{{ form.under59Confirmed.hi.vars.id }}'], '#{{ form.totalConfirmed.hi.vars.id }}', '#{{ form.totalConfirmed.hiOverride.vars.id }}');
            sumInputs(['#{{ form.under12Confirmed.nm.vars.id }}', '#{{ form.under23Confirmed.nm.vars.id }}', '#{{ form.under59Confirmed.nm.vars.id }}'], '#{{ form.totalConfirmed.nm.vars.id }}', '#{{ form.totalConfirmed.nmOverride.vars.id }}');
            sumInputs(['#{{ form.under12Confirmed.spn.vars.id }}', '#{{ form.under23Confirmed.spn.vars.id }}', '#{{ form.under59Confirmed.spn.vars.id }}'], '#{{ form.totalConfirmed.spn.vars.id }}', '#{{ form.totalConfirmed.spnOverride.vars.id }}');
            sumInputs(['#{{ form.under12Confirmed.other.vars.id }}', '#{{ form.under23Confirmed.other.vars.id }}', '#{{ form.under59Confirmed.other.vars.id }}'], '#{{ form.totalConfirmed.other.vars.id }}', '#{{ form.totalConfirmed.otherOverride.vars.id }}');
            sumInputs(['#{{ form.under12Confirmed.contamination.vars.id }}', '#{{ form.under23Confirmed.contamination.vars.id }}', '#{{ form.under59Confirmed.contamination.vars.id }}'], '#{{ form.totalConfirmed.contamination.vars.id }}', '#{{ form.totalConfirmed.contaminationOverride.vars.id }}');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Enter Details</h4>
        </div>

        <div class="panel-body">
            {% include 'General/base_disease_header.html.twig' %}

            {{ form_start(form) }}
            {{ form_row(form.under5) }}
            {{ form_row(form.suspected) }}
            {{ form_row(form.suspectedWith) }}
            {{ form_row(form.probable) }}
            <div class="row">
                <label class="col-md-12 col-form-label required">No. of confirmed cases of meningitis</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.under12Confirmed) }}
                    {{ form_widget(form.under12Confirmed) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.under23Confirmed) }}
                    {{ form_widget(form.under23Confirmed) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.under59Confirmed) }}
                    {{ form_widget(form.under59Confirmed) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.totalConfirmed) }}
                </div>
            </div>
            {{ form_row(form.numberOfDeaths) }}
            {{ form_rest(form) }}
            <fieldset>
                {#<legend class="m-b-15">Legend</legend>#}
                <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">{{ 'Edit'|trans }}</button>
                <a href="{{ path('meningitisIndex') }}" class="btn btn-sm btn-default">{{ 'Cancel'|trans }}</a>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
