{% extends 'base.html.twig' %}

{% block year_month_filter_row %}
    <div class="row form-group m-b-15">
        {{ form_label(form) }}
        <div class="col-md-9 field-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_widget(form.month) }}
                </div>
                <div class="col-sm-6">
                    {{ form_widget(form.year) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function () {
        {% if filterForm is defined %}
            let hospital = $('#{{ filterForm.hospital.vars.id }}');
            let country = $('#{{ filterForm.country.vars.id }}');

            if (country.val() > 0) {
                hospital.find('option[value!=""]').prop('disabled', true).hide();
                hospital.find('option[data-country="' + country.val() + '"]').prop('disabled', false).show();
            }

            country.change(function () {
                hospital.find('option[value!=""]').prop('disabled', true).hide();
                hospital.find('option[data-country="' + country.val() + '"]').prop('disabled', false).show();
                if (hospital.find('option:selected').prop('disabled')) {
                    hospital.val('');
                }
            });
        {% endif %}
        });
    </script>
{% endblock %}
