{% extends '@ColorAdmin/layout.html.twig' %}

{% block pagetitle %}{{'CENTINELA'|trans}}{% endblock %}
{% block page_header %}{% endblock %}

{% block navbar_logo_title %}{{'New Vaccines Surveillance System - VINUVA'|trans}}{% endblock %}
{% block navbar_logo %}{% endblock %}
{% block sidebar_title %}{{ 'Navigation'|trans }}{% endblock %}
{% block header_search %}{% endblock %}
{% block header_message_menu %}
    <li class="dropdown navbar-language">
        <a href="#" class="dropdown-toggle pr-1 pl-1 pr-sm-3 pl-sm-3" data-toggle="dropdown" aria-expanded="false">
            <span class="flag-icon flag-icon-{{app.request.locale}}" title="{{app.request.locale}}"></span>
            <span class="name d-none d-sm-inline">{{app.request.locale|upper}}</span> <b class="caret"></b>
        </a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
            <a href="{{ path('homepage',{'_locale': 'en'}) }}" class="dropdown-item"><span class="flag-icon flag-icon-us" title="en"></span> {{'English'|trans}}</a>
            <a href="{{ path('homepage',{'_locale': 'es'}) }}" class="dropdown-item"><span class="flag-icon flag-icon-es" title="es"></span> {{'Spanish'|trans}}</a>
            <a href="{{ path('homepage',{'_locale': 'pt'}) }}" class="dropdown-item"><span class="flag-icon flag-icon-br" title="pt"></span> {{'Portuguese'|trans}}</a>
            <a href="{{ path('homepage',{'_locale': 'fr'}) }}" class="dropdown-item"><span class="flag-icon flag-icon-fr" title="fr"></span> {{'French'|trans}}</a>
        </div>
    </li>
{% endblock %}

{% block header_user_menu_button %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user fa-2x"></i>
        <span class="d-none d-md-inline">{{ app.user }}</span>
        <b class="caret"></b>
    </a>
{% endblock %}

{% block header_user_menu_dropdown %}
    <div class="dropdown-menu dropdown-menu-right">
        <a href="{{ path('userProfile') }}" class="dropdown-item">{{'Edit Profile'|trans}}</a>
        <div class="dropdown-divider"></div>
        <a href="{{ path('logout') }}" class="dropdown-item">{{ 'Log Out'|trans }}</a>
    </div>
{% endblock %}

{% block year_month_filter_row %}
    <div class="row form-group m-b-15">
        {{ form_label(form) }}
        <div class="col-md-9 field-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_widget(form.month) }}
                </div>
                <div class="col-sm-6">
                    {{ form_widget(form.year) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    {% if filterForm.hospital is defined and filterForm.country is defined %}
        <script type="text/javascript">
            $(document).ready(function () {
                let hospital = $('#{{ filterForm.hospital.vars.id }}');
                let country = $('#{{ filterForm.country.vars.id }}');

                if (country.val() > 0) {
                    hospital.find('option[value!=""]').prop('disabled', true).hide();
                    hospital.find('option[data-country="' + country.val() + '"]').prop('disabled', false).show();
                }

                country.change(function () {
                    if (country.val()) {
                        hospital.find('option[value!=""]').prop('disabled', true).hide();
                        hospital.find('option[data-country="' + country.val() + '"]').prop('disabled', false).show();
                    } else {
                        hospital.find('option[value!=""]').prop('disabled', false).show();
                    }

                    if (hospital.find('option:selected').prop('disabled')) {
                        hospital.val('');
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
{% block page_styles %}
    <link href="{{ asset('bundles/coloradmin/plugins/flag-icon/css/flag-icon.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .flag-icon-en {
            background-image: url({{ asset('bundles/coloradmin/plugins/flag-icon/flags/4x3/us.svg') }});
        }
        .panel-heading-btn {
            margin-right: 1em;
        }
    </style>
{% endblock %}

{% block content %}{% endblock %}
