{% extends '@ColorAdmin/login.html.twig' %}
{% block pagetitle %}CENTINELA{% endblock %}
{% block page_header %}{% endblock %}

{% block login_header %}
    <div class="login-header">
        <div class="brand">
            <strong>VINUVA</strong> Aggregado
            {% block subtitle %}<small>{{ 'Forgot Password'|trans }}</small>{% endblock %}
        </div>
        <div class="icon">
            <i class="fa fa-lock"></i>
        </div>
    </div>
{% endblock %}

{% block login_form %}
    {{ form_start(form, {attr: {class: 'margin-bottom-0'}}) }}
        <div class="form-group m-b-20">
            {{ form_widget(form._username) }}
        </div>
        <div class="login-buttons">
            <button type="submit" class="btn btn-success btn-block btn-lg">{{'Reset password'|trans}}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
