{% extends 'base.html.twig' %}
{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">{{ 'Edit Profile'|trans }}</h4>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <fieldset>
                <button type="submit" class="btn btn-sm btn-primary m-r-5 pull-right">{{'Update'|trans}}</button>
                <button type="submit" class="btn btn-sm btn-default pull-right">{{'Cancel'|trans}}</button>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

